@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "Roboto Condensed", sans-serif;
}

html {
    font-size: 16px;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.6rem;
}

h3 {
    font-size: 2.2rem;
    font-weight: 500;
}

h4 {
    font-size: 1.8rem;
    font-weight: 500;
}

h5 {
    font-size: 1.4rem;
    font-weight: 500;
}

h6 {
    font-size: 1rem;
    font-weight: 500;
}

p {
    font-size: 1rem;
}


@media (max-width: 1024px) {
    .desktop-only {
        display: none;
    }
}

:root {
    --fc-button-active-bg-color: rgb(161, 72, 72);
    --fc-button-active-border-color: rgba(0, 0, 0, 0.01);
    --fc-button-bg-color: #e66767;
    --fc-button-border-color: rgba(0, 0, 0, 0.01);
}

.my-masonry-grid {
    display: -webkit-box; /* Not needed if autoprefixing */
    display: -ms-flexbox; /* Not needed if autoprefixing */
    display: flex;
    margin-left: -30px; /* gutter size offset */
    width: auto;
}

.my-masonry-grid_column {
    padding-left: 30px; /* gutter size */
    background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div { /* change div to reference your elements you put in <Masonry> */
    margin-bottom: 30px;
}